:root {
    --blue: #1e90ff;
    --white: #ffffff;
  }

  
.mastContainer {
    box-sizing: border-box;
    width:100%;
    max-width:1200px;
    box-sizing: border-box;
    margin:0;
    border-radius:0 0 8px 8px;
    margin-bottom:0px;
    box-shadow:0 0 14px rgba(0,0,0,.45);
    padding-bottom:0;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.mast {
    padding:0;
    margin:0;
    position: relative;
    top:0px;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
    border-bottom:2px solid #bbbbbb;
    overflow: hidden;
    background-color:#cccccc;
}

.logo {
    user-select: none;
    padding:0;
    vertical-align: top;
    display:inline-block;
    float:left;
    box-sizing:border-box;
    cursor: pointer;
    padding-top:0px;
    overflow: hidden;
    width:70%;
    height:190px;
    float:left;
    padding-top:0px;
}

.logo:hover {
    background-color:var(--blue);
}

.logo img {
    height:96%;
    max-width:100%;
    margin-left:1%;
}

.baseNav {
    display:inline-block;
    height:50px;
    margin-top:100px;
    width:calc(100% - 304px);
}
.baseNav ul {
    list-style: none;
    padding-left:40px;
}
.baseNav ul li {
    display:inline-block;
    text-transform:uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:900;
    font-size:1.2em;
    padding-left:10px;
    padding-right:10px;
    user-select: none;
    cursor: pointer;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:4px;  
}

.baseNav ul li:hover {
    background-color:#5fff2f;
    background-color:var(--blue);
}
.secondTier {
    height:100px;
    background-color:#cccccc;
}

.burger {
    display:inline-block;
    vertical-align: top;
    box-sizing:border-box;
    margin-top:0;
    vertical-align: top;
    box-sizing: border-box;
    text-align: center;
    cursor: default;
    padding-top:20px;
    padding-bottom:16px;
    overflow: hidden;
    opacity:.8;
    width:30%;
    height:190px;
}

.burger:hover {
    background-color:#5fff2f;
    background-color:var(--blue);
    opacity:1;
}

.burgerOpen {
    background-color:#5fff2f;
    background-color:var(--blue);
}
.burgerIcon {
    background-image:url(../images/interface/burger_black.svg);
    background-size:60px 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width:80%;
    height:100px;
    border-radius:8px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;   
}

.navContainer {
    width:100%;
    max-width:1200px;
    margin:auto;
}
.burgerNav {
    user-select: none;
    cursor: pointer;
    position: relative;
    top:10px;
    margin-bottom:20px;
}

.navChoices {
    margin:0;
    padding:0;
    list-style: none;
    font-weight:700;
    background-color:#ffffff;
    box-shadow:0px 0px 20px rgba(0,0,0,.5);
    display:none;
    user-select: none;
    cursor: default;
    color:#999999;
    border-radius:8px;
    border:2px solid #999999;
}

li.nav-section {
    background-color:#cccccc;
    padding-left:20px;
    height:40px;
    padding-top:20px;
    color:black;
    font-weight: 900;
}

.navChoices li.nav-choice {
    padding:10px;
    padding-top:14px;
    padding-bottom:14px;
    padding-left:35px;
    padding-right:35px;
    transition: all .5s;
    user-select: none;
    cursor:pointer;
}

.navChoices li.nav-choice:first-child {
    padding-top:22px;
}
.navChoices li.nav-choice:hover {
    background-color:#5fff2f;
    background-color:var(--blue);
    color:black;
}
.navChoices li.nav-choice:focus {
    background-color:#5fff2f;
    background-color:var(--blue);
}
.navChoices li.nav-choice:active {
    background-color:#5fff2f;
    background-color:var(--blue);
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

:focus {
    outline: none !important;
}

.catTitle {
    font-family: 'Roboto Condensed';
    font-weight:500;
    font-size:.9em;
    padding-top:12px;
    padding-bottom:8px;
}

@media screen and (min-width:800px) {

    .logo {
        width:80%;
    } 

    .burger {
        width:20%;
    }

    .burgerNav {
        max-width:440px;
        z-index: 200;
        height:0;
        float:right;
        top:0;
    }


}
@media screen and (min-width:1600px) {


    .burgerIcon {
        margin-top:10px;
    }
    .logo {

        width:85%;
        height:150px;

    } 

    .burger {
        width:15%;
        height:150px;
    }


}
